<div class="section" id="skill">
  <div class="container">
    <section class="neon-title">
      <div class="text">
        <h1>Skills</h1>
        <h1>Skills</h1>
      </div>
    </section>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <!-- <div class="col-md-6"> -->


            <nav class="category-navigation" id="js-portfolio-filters">
              <span class="category-filters">Filters:</span>
              <button class="button" data-type="javascript" data-track="" data-category="Category Filter"
                data-action="Clicked Filter" data-label="JavaScript"(click) = "enableProgramming()">Object Oreinted Programming</button>
              <button class="button" data-type="html" data-track="" data-category="Category Filter" data-action="Clicked Filter"
                data-label="HTML" (click) = "enableWebDevelopment()">Web Development</button>
              <button class="button" data-type="css" data-track="" data-category="Category Filter" data-action="Clicked Filter"
                data-label="CSS" (click) = "enableDevops()">Dev Ops</button>
              <button class="button" data-type="php" data-track="" data-category="Category Filter" data-action="Clicked Filter"
                data-label="PHP" (click) = "enableRest()">RestFul API</button>
              <button class="button" data-type="nodejs" data-track="" data-category="Category Filter" data-action="Clicked Filter"
                data-label="NodeJS" (click) = "enableML()">Machine Learning</button>
              <button class="button" data-type="reactjs" data-track="" data-category="Category Filter" data-action="Clicked Filter"
                data-label="ReactJS" (click) = "enableClouds()">Clouds Technologies</button>
              <button class="button" data-type="reactjs" data-track="" data-category="Category Filter" data-action="Clicked Filter"
              data-label="ReactJS" (click) = "enableScrapping()">Web Scrapping</button>
            </nav>




            <!-- <div class="progress-container progress-primary">
              <span class="progress-badge">Python</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 85%;"></div>
                <span class="progress-value">80%</span>
              </div>
            </div>
          </div> -->
          <!-- <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Javascript</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 80%;"></div>
                <span class="progress-value">70%</span>
              </div>
            </div>
          </div> -->
        <!-- </div> -->
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Django</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 80%;"></div>
                <span class="progress-value">80%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Angular8</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 75%;"></div>
                <span class="progress-value">75%</span>
              </div>
            </div>
          </div> -->
        <!-- </div> -->
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">SQL</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 75%;"></div>
                <span class="progress-value">75%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">HTML,CSS,JS</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 70%;"></div>
                <span class="progress-value">70%</span>
              </div>
            </div>
          </div> -->
        <!-- </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">NodeJs</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 75%;"></div>
                <span class="progress-value">75%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">CloudEngineering</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: 70%;"></div>
                <span class="progress-value">70%</span>
              </div>
            </div>
          </div>
        </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>

<!-- <nav class="category-navigation" id="js-portfolio-filters">
  <span class="category-filters">Filters:</span>
  <button class="button" data-type="javascript" data-track="" data-category="Category Filter"
    data-action="Clicked Filter" data-label="JavaScript">Object Oreinted Programming</button>
  <button class="button" data-type="html" data-track="" data-category="Category Filter" data-action="Clicked Filter"
    data-label="HTML">Web Development</button>
  <button class="button" data-type="css" data-track="" data-category="Category Filter" data-action="Clicked Filter"
    data-label="CSS">Dev Ops</button>
  <button class="button" data-type="php" data-track="" data-category="Category Filter" data-action="Clicked Filter"
    data-label="PHP">RestFul API</button>
  <button class="button" data-type="nodejs" data-track="" data-category="Category Filter" data-action="Clicked Filter"
    data-label="NodeJS">Machine Learning</button>
  <button class="button" data-type="reactjs" data-track="" data-category="Category Filter" data-action="Clicked Filter"
    data-label="ReactJS">Clouds Engineering</button>

</nav> -->





<div>
  <div>
    <div class="chart" [style.height]="'60vh'" [style.display]="displaystatusProgramming">
      <canvas baseChart [data]="pieChartDataProgramming" [labels]="pieChartLabelsProgramming" [chartType]="pieChartTypeProgramming"
        [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>


<div>
  <div>
    <div class="chart" [style.height]="'60vh'" [style.display]="displaystatusWebDeveopment">
      <canvas baseChart [data]="pieChartDataWeb" [labels]="pieChartLabelsWeb" [chartType]="pieChartTypeProgramming"
        [options]="pieChartOptions" [plugins]="pieChartPlugins"  [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>

<div>
  <div>
    <div class="chart" [style.height]="'60vh'" [style.display]="displaystatusML">
      <canvas baseChart [data]="pieChartDataMl" [labels]="pieChartLabelsMl" [chartType]="pieChartTypeProgramming"
        [options]="pieChartOptions" [plugins]="pieChartPlugins"  [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>

<div>
  <div>
    <div class="chart" [style.height]="'60vh'" [style.display]="displaystatusDevops">
      <canvas baseChart [data]="pieChartDataDevops" [labels]="pieChartLabelsDevops" [chartType]="pieChartTypeProgramming"
        [options]="pieChartOptions" [plugins]="pieChartPlugins"  [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
<!--  -->


<div>
  <div>
    <div class="chart" [style.height]="'60vh'" [style.display]="displaystatusClouds">
      <canvas baseChart [data]="pieChartDataClouds" [labels]="pieChartLabelsClouds" [chartType]="pieChartTypeProgramming"
        [options]="pieChartOptions" [plugins]="pieChartPlugins"  [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>

<div>
  <div>
    <div class="chart" [style.height]="'60vh'" [style.display]="displaystatusRest">
      <canvas baseChart [data]="pieChartDataRest" [labels]="pieChartLabelsRest" [chartType]="pieChartTypeProgramming"
        [options]="pieChartOptions" [plugins]="pieChartPlugins"  [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>

<div>
  <div>
    <div class="chart" [style.height]="'60vh'" [style.display]="displaystatusScrap">
      <canvas baseChart [data]="pieChartDataScrap" [labels]="pieChartLabelsScrap" [chartType]="pieChartTypeProgramming"
        [options]="pieChartOptions" [plugins]="pieChartPlugins"  [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>