<!-- <header >
  <nav>
    <ul role="list">
      <li>File</li>
      <li>Edit</li>
      <li>Search</li>
      <li>Options</li>
      <li>Help</li>
    </ul>
  </nav>
</header>
<main contenteditable><span class="cursor active"></span></main>
<footer>
  MS-DOS Editor <span>
    Click anywhere in the editor to begin
  </span>
</footer> -->

<footer id="footer">
  <div class="inner">
      <ul class="icons">
          
              <li><a href="https://www.facebook.com/jaikumar.das.3"  target="_blank"><span class="label">Facebook</span></a></li>
          
              <li><a href="https://www.instagram.com/jaistergerm"  target="_blank"><span class="label">Instagram</span></a></li>
          
              <li><a href="https://github.com/jaikumardas577"  target="_blank"><span class="label">GitHub</span></a></li>
          
              <li><a href="https://www.linkedin.com/in/jai-kumar-das-a88a9a15a/"  target="_blank"><span class="label">LinkedIn</span></a></li>
          
      </ul>
      <ul class="copyright">
          <li>© Jai Kumar Das</li>
          
      </ul>
  </div>
</footer>
