
       <ngx-alerts></ngx-alerts>
<section class="neon-title" id="contact">
  <div class="text">
    <h1>Contact</h1>
    <h1>Contact</h1>
  </div>
</section>
<div class="container">
  <div class="card">
  <p class = "card-text">Something Missing! Ask me about it. And don’t worry, I’m always happy to learn new stuff!</p>
    </div>
<ng-template [ngIf]="!hideform">

  <form #myForm="ngForm">
    <input name="name" type="text" class="feedback-input" [(ngModel)]="name" placeholder="Name" />
 
    <input name="email" type="text" class="feedback-input" [(ngModel)]="email" placeholder="Email" />
    <textarea name="text" class="feedback-input" [(ngModel)]="contact" placeholder="Comment" ></textarea>
    <h6>min 20 character</h6>
    <a class="anime-button" (click)="submitform(myForm);myForm.reset()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      {{submitText}}
    </a>

  </form>
</ng-template>
</div>
<div class="container" [style.display]="formStatus">
  <div style="margin-left: 40px;">
    <svg-icon src='../../../assets/svg/undraw_message_sent_1030.svg' [svgStyle]="{ 'width.vh':80,'height.vh':80  }">
    </svg-icon>
  </div>

</div>


