.section {
  background-color: #151515;
}

.row p {
  font-weight: 700px;
  color: black;
}
$grey: #a8a8a8;
$blue: #0b00a8;
$teal: #00a7a8;

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  // font-family: "Inconsolata", monospace;
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 1.25rem;
  line-height: 1;
  background: rgb(30, 30, 40);
}

nav {
  background-color: $grey;

  ul {
    list-style: none;
    margin: 0;
    padding: 0.15rem 2rem;
    display: flex;

    li + li {
      margin-left: 1rem;
    }

    li:last-child {
      margin-left: auto;
    }
  }
}

main {
  background-color: $blue;
  color: $grey;
  padding: 1.25rem 1rem;
  box-shadow: inset 0 0 0 7px $blue, inset 0 0 0 9px currentcolor;
  position: relative;
  height: 50vh;
  font-size: small;

  &:focus {
    outline: none;
  }

  &:before {
    content: "HELLOWORLD.BAT";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $grey;
    color: $blue;
    padding: 0 0.75rem;
  }

  span {
    display: inline-flex;
  }
}

footer {
  font-family: monospace;
  background-color: $teal;
  color: #fff;
  padding: 0.05rem 1rem;
  display: flex;

  span {
    margin-left: 2rem;
  }
}

.cursor:after {
  content: "";
  display: inline-block;
  width: 1ch;
  height: 1.1em;
  background-color: $blue;
  margin: -0.03em 0 -0.03em -0.03em;
}

.cursor.active:after {
  animation: cursor 400ms ease-in-out infinite;
}

@keyframes cursor {
  0%,
  100% {
    background-color: $blue;
  }
  50% {
    background-color: $grey;
  }
}

// #about {
//   background: rgb(30, 30, 40);
// }

#outline-body {
  background-color: darkgray;
}
