<div class="section" id="education">
    <div class="container cc-education">
      <div class="container">
        <section class="neon-title">
          <div class="text">
            <h1>Education</h1>
            <h1>Education</h1>
          </div>
        </section>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary">
            <div class="card-body cc-education-header">
              <p>2015 - 2019</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" >
            <div class="card-body">
               <h4 class="category"> <a href="http://www.tezu.ernet.in/"  target="_blank">School of Engineering , Tezpur University </a>
               </h4>
               <ul> <li>Completed B.TECH in Computer Engineering and Engineering with <b>6.64 CGPA</b>.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" >
            <div class="card-body cc-education-header">
              <p>2012- 2014</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" >
            <div class="card-body">
               <h4 class="category">Chanakya Junior College
               </h4>
               <ul>
                  <li>Scored <b>73</b> Percentage in Science stream.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" >
            <div class="card-body cc-education-header">
              <p>2012 - 2013</p>
              <div class="h5">Secondary School</div>
            </div>
          </div>
          <div class="col-md-9" >
            <div class="card-body">
               <h4 class="category">Pranjal Memorial Academy</h4>
               <ul>
                <li>Scored <b>71</b> Percentage in HSSLC Exam.</li>
           </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>