<div class="section" id="projects">
  <div class="container">
    <section class="neon-title">
      <div class="text">
        <h1>Projects</h1>
        <h1>Projects</h1>
      </div>
    </section>
    <div >
      <div>
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h2 data-test-id="promo-buildtest">Vehicle Detection &amp; Distance Estmation</h2>
                  <p>Build and train a classifier in Support Vector Machine for classifying vehicles
                    non-vehicles in a road.The classifier is trained on large Dataset of Udacity and is
                    predicted with 93 percent accuracy </p>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h2 data-test-id="promo-buildtest">Developed Website For Matrix Junior College</h2>
                  <p> The websites provides all the necessary information about the college alongwith news,notices admin
                    secure dashboard with
                    facility to manage students,teachers and staff information . It is hosted in aws EC2-premise.</p>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <h2 data-test-id="promo-buildtest">Knn-IF Algorithm &amp; Implementation</h2>
                  <p> The proposed method is capable of handling noises over certain features which abruptly affect
                    classification by traditional KNN
                    algorithm due to its operation over full set of features</p>
                </div>
              </div>

            </div>

          </div>
          <div class="col-md-6">
            <svg-icon src="../../../assets/svg/undraw_programming_2svr.svg" [svgStyle]="{ 'width.vh':80 }"></svg-icon>

          </div>
        </div>


      </div>

    </div>




  </div>
</div>