<div class="section" id="projects">
  <div class="container">
    <section class="neon-title">
      <div class="text">
        <h1>Projects</h1>
        <h1>Projects</h1>
      </div>
    </section>
    <div >
      <div>
        <div class="row">

          <nav class="category-navigation" id="js-portfolio-filters">
            <span class="category-filters">Filters:</span>
            <button class="button" data-type="html" data-track="" data-category="Category Filter" data-action="Clicked Filter"
              data-label="HTML" (click) = "enableWebDevelopment()">Web Development</button>
            <button class="button" data-type="css" data-track="" data-category="Category Filter" data-action="Clicked Filter"
              data-label="CSS" (click) = "enableDevops()">Dev Ops</button>
            <button class="button" data-type="php" data-track="" data-category="Category Filter" data-action="Clicked Filter"
              data-label="PHP" (click) = "enableRest()">RestFul API</button>
            <button class="button" data-type="nodejs" data-track="" data-category="Category Filter" data-action="Clicked Filter"
              data-label="NodeJS" (click) = "enableML()">Machine Learning</button>
            <button class="button" data-type="reactjs" data-track="" data-category="Category Filter" data-action="Clicked Filter"
            data-label="ReactJS" (click) = "enableScrapping()">Web Scrapping</button>
          </nav>
          <div class="col-md-6">
            <div class="row">
              <div *ngFor="let project of allProject; let i = index" class="col-md-12">
                <div class="card">
                  <h2 data-test-id="promo-buildtest">{{project.ProjectName}}</h2>
                  <p>{{project.ProjectDetails}} </p>
                    <div  class="col-md-12">
                      <mat-chip-list aria-label="Fish selection">
                        <!-- <mat-chip>One fish</mat-chip>
                        <mat-chip>Two fish</mat-chip> -->
                        <mat-chip *ngIf="project.Category.includes('Work')" color="primary" selected>{{project.Category}}</mat-chip>
                        <mat-chip *ngIf="project.Category.includes('Personal')" color="accent" selected>{{project.Category}}</mat-chip>
                        <mat-chip  *ngFor="let cat of project.ProjectCategory">{{cat}}</mat-chip>
                        
                      </mat-chip-list>
                    </div>



                </div>

              </div>

            </div>



          </div>
          <div class="col-md-6 d-none d-md-block ">
            <svg-icon src="../../../assets/svg/undraw_programming_2svr.svg" [svgStyle]="{ 'width.vh':80 }"></svg-icon>

          </div>
        </div>


      </div>


    </div>




  </div>
</div>