
<div class="container">
          <div class="content-center">
            <div class="personal_profile_name">Jai Kumar Das_</div>
            <p class="personal-profile__work">Software Developer at DHIRA Software Private Limited </p>
            <div class = "row">

                <div style="margin-left: 10px;margin-right: 10px;">
                  <svg-icon src="../../../assets/svg/github_white.svg" [svgStyle]="{ 'width.vh':10,'height.vh':10,'fill':'white'}"></svg-icon>
                </div>
                <div style="margin-left: 10px;margin-right: 10px;">
                  <svg-icon src="../../../assets/svg/linkedin_white.svg" [svgStyle]="{ 'width.vh':10,'height.vh':10,'fill':'white' }"></svg-icon>
                </div>
            </div>

          </div>
</div>