<div class="profile-page">
    <div class="wrapper">
      <div class="page-header page-header-small" filter-color="blue">
        <div class="page-header-image" data-parallax="true" >
        </div>
        <div class="container">
          <div class="content-center">
            <!-- <div class="cc-profile-image">
              <a href="#">
                <img src="assets/images/img2.png" alt="Image" />
              </a>
            </div> -->

            
            <div class="personal_profile_name">Jai Kumar Das_</div>
            <p class="personal-profile__work">Software Developer, Full STack Developer at DHIRA Software Private Limited </p>
            <!-- <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Hire Me</a>
            <a class="btn btn-primary"
              href="" target="_blank"
              data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>